*{
    padding:0;
    margin:0;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family: 'Aldrich';
    font-size: 15px;
    overflow: hidden;
}

.container{
    width:100%;
    height:100vh;
    color:white;
    display:flex;
    text-align:center;
    background-color: black;
    flex-direction:column;
    overflow:scroll;
}

.logo img {
    width:auto;
    height: 50vh;
    animation: logo-animation 0.8s ease-out forwards;
}

.intro h2{
    overflow: hidden;
    white-space: nowrap;
    color: gray;
    margin: 10px auto 0 auto;
    letter-spacing: .15em;
    animation: typing 2s steps(40, end), blink-caret .75s step-end infinite;
}

h2.media{
    display:none;
}

.menu{
    display:flex;
    max-width:100%;
    justify-content: center;
    margin-top:30px;
}

.menu-item{
    border: 2px solid white;
    padding:10px;
    margin:0 10px;
    min-width:100px;
}

.menu-item a{
    text-decoration: none;
    color:white;
    display: block;
}

.menu-item:hover{
    animation: btn-hover 0.8s forwards;
}

/*----------------------------------------------------------------------------------------------*/

.c2{
    background-color: black;
}

.hakkimizda{
  width:auto;
  max-width:50%;
  height: 100%;
  display:flex;
  margin:20px auto 0 auto;
 
}

.sol{
    border:2px solid;
    border-top:none;
    padding:20px;
    border-bottom:none;
    align-self: center;
    max-height: 80%;
    text-align: center;
}

.sol h2{
    width: 150px;
    padding:10px;
    border:2px solid white;
    border-top:none;
    margin:0 auto;
}

/*----------------------------------------------------------------------------------------------*/

.c3{

}

.ekip{
    margin:20px auto 0 auto;
    height: 90vh;
    width:90%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.ekip-content{
    margin-top: 30px;
    display: flex;
    width:80%;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items:center;
}

.ekip-baslik{
    width:150px;
    padding:10px;
    border:2px solid white;
    border-top:none;
}

.uye{
  margin:auto 5px;
}


/*----------------------------------------------------------------------------------------------*/


.c4{
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.c4 h2{
  border:2px solid white;
  border-top:none;
  padding:10px;
  margin-top:20px;
}

.c4-container{
  height: 90vh;
  width:90%;
  display:flex;
  align-items:stretch;
  justify-content:center;
}

.etkinlik{
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  align-items:center;
  justify-content:center;
  max-height:100%;
  width:60%;
  overflow-x: scroll;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: black;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.eee{
  width:250px;
  height:50vh;
  margin:10px;
  border:2px solid white;
}

/*----------------------------------------------------------------------------------------------*/


.c5{
  justify-content: center;
  align-items:center;
}

.c5-container{
  height: 90vh;
  width:90%;
}

.c5 h2{
  border:2px solid white;
  border-top:none;
  padding:10px;
  margin-top:10px;
}

.blog{
  display:flex;
  flex-direction:column;
  height:90%;
  justify-content:center;
  align-items:center;
  width:90%;
  margin:15px auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

.yazi{
  width:80%;
  height:25%;
  margin-top:10px;
  padding:10px;
  border:2px solid white;
}

/*----------------------------------------------------------------------------------------*/

.c6{
  display:flex;
  justify-content:center;
  align-items:center;
}

.iletisim{
  display:grid;
  width:60%;
  height:70%;
  grid-template:1fr 1fr 1fr / 1fr 1fr;
  position: relative;
}

@keyframes logo-animation {
    from{
       transform:translateY(0)
   }
    to{
       transform:translateY(50px)
   }
}

@keyframes typing {
    from {
        width: 0 
   }
    to {
        width: 100% 
   }
}
@keyframes blink-caret {
    from, to {
        border-color: transparent 
   }
    50% {
        border-color: orange;
   }
}

@keyframes btn-hover{
    0% {
       border-bottom:none;
   }
    25% {
       border-left:none;
   }
    75% {
       border-top:none;
   }
    100% {
       border-right:none;
   }
}

@media only screen and (max-width: 800px) {
    @keyframes logo-animation {
        from{
           transform:translateY(0)
       }
        to{
           transform:translateY(40px)
       }
    }

    h2.media{
        display:block;
          width:100%;
        }
    h2.normal{
          display:none;
        }

    .menu{
        flex-direction:column;
        align-items: center;
    }

    .menu-item{
        border: 2px solid white;
        min-width:40%;
        margin-top:10px;
    }
}